* [Whiley](http://whiley.org): A Programming Language with Extended Static Checking
